# 문제

## 문제 1: 함수를 인자로 받는 고차함수

주어진 리스트와 함수를 인자로 받아, 리스트의 각 요소에 해당 함수를 적용한 결과를 반환하는 고차함수 apply_function을 작성해주세요.

In [ ]:
def apply_function(lst, func):
    pass

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

## 문제 2: 함수를 반환하는 고차함수

정수 n을 인자로 받아, 다른 정수 x에 n을 곱하는 함수를 반환하는 고차함수 multiply_by_n을 작성해주세요. 힌트를 드리자면 반환 값은 lambda여야 합니다.

In [ ]:
def multiply_by_n(n):
    pass

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

# 개인 답

In [ ]:
# 문제 1: 함수를 인자로 받는 고차함수

In [ ]:
def apply_function(lst, func):
    return list(map(lambda x: x * 2, lst))

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

In [ ]:
# 문제 2: 함수를 반환하는 고차함수

In [ ]:
def multiply_by_n(n):
    def target_x_by_n(x):
        return n * x
    return target_x_by_n

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

15