# 1.1 문자열 기초

In [1]:
i = '''안녕하세요.
신찬수입니다.
파이썬, 장고 좋아요
잘 부탁드립니다.
'''

j = '''안녕하세요.
신찬수입니다.
파이썬, 장고 좋아요
잘 부탁드립니다.
'''

In [2]:
i

'안녕하세요.\n신찬수입니다. \n파이썬, 장고 좋아요\n잘 부탁드립니다.\n'

In [ ]:
# \n은 개행문자로 띄어쓰기가 적용됨.
# 긴 문장을 쓸 때 '''을 쓰면 개행문자가 자동으로 적용됨.

In [3]:
print(i)

안녕하세요.
신찬수입니다.
파이썬, 장고 좋아요
잘 부탁드립니다.

In [4]:
print(j)

안녕하세요.
신찬수입니다.
파이썬, 장고 좋아요
잘 부탁드립니다.

In [ ]:
#문장이 길면 '''사용. 짧다면 '사용

# 1.2 문자열 덧셈, 곱셈

In [5]:
# 문자열의 덧셈

x = 'hello'
y = 'world'
print(x + y) # 출력 : helloworld

x = '10'
y = '20'
print(x + y)

# 문자열의 곱셈

print(x * 100)

helloworld
1020
10101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010

# 1.3 문자열 인덱싱

In [8]:
# 기본기능: 변수에서 해당 위치에 접근할 수 있음
# idx:012 3 456
s = '위니브 월드!'
print(s[0]) # 출력  : '위'
print(s[6]) # 출력 : '!'
print(s[-1]) # 출력 : '!'
# print(s[100]) # Error : string index out of range

위
!
!

# 1.4 문자열 슬라이싱

In [25]:
'''
* 기본기능 : 변수에서 출력할 인덱스의 범위를 지정해서 출력
* 기본옵션 : 변수[start:stop:step]
* 사용 예
  - 변수[start:] # start ~ end
  - 변수[<-num>:] # <끝에서 num번째> ~ end
  - 변수[:stop] # 0 ~ <stop-1>
  - 변수[:-1] # 0 ~ <end-1>
  - 변수[:<-num>] # 0 ~ <끝에서 num번째 - 1>
  - 변수[start:stop] # start ~ <stop-1>
  - 변수[start:stop:step] # start ~ <stop-1> 범위를 step 칸씩 출력
  - 변수[:] # 전체 범위 출력
  - 변수[::-1] # 전체를 거꾸로 출력
  - 변수[::2] # 전체를 두 칸씩 출력
'''
s = '놀이 공원 밖 생태 탐험'

print(s[6:])
print(s[:])
print(s[::-1])
print(s[::2])
print(s[10:100])

밖 생태 탐험
놀이 공원 밖 생태 탐험
험탐 태생 밖 원공 이놀
놀 원밖생 험
 탐험

## 1.4.1 슬라이드 실습

In [50]:
s = 'weniv_licat.png'

In [24]:
# 1. 출력 weniv_licat만 나오게
s = 'weniv_licat.png'
print(s[:-4])

weniv_licat

In [23]:
# 2. 출력 png만 나오게
s = 'weniv_licat.png'
print(s[-3:])

png

# 1.5 문자열 메서드

## 1.5.1 lower(), upper()

In [28]:
# lower()
# 소문자 변경
s = 'weniv_licat.png'
s.lower()

'weniv_licat.png'

In [29]:
# upper()
# 대문자 변경
s = 'weniv_licat.png'
s.upper()

'WENIV_LICAT.PNG'

## 1.5.2 find(), index()

In [ ]:
# 공통점 : 원하는 문자열의 시작점이 되는 인덱스를 찾아줌
# 차이점 : find는 문자열 못 찾으면 -1, index는 문자열 못 찾으면 error를 반환

In [34]:
s = 'weniv CEO licat'

In [35]:
s.find('CEO')

6

In [36]:
s.find('CTO')

-1

In [38]:
s.index('CEO')

6

In [39]:
s.index('CTO')

ValueError: ignored

## 1.5.3 count

In [42]:
# 기본기능 : 문자열이나 숫자를 셀 때 사용
s = 'weniv CEO licat'
s.count(' ') # 공백 카운트

# 공백
# 대소문자 구분
# 일치하는 경우 찾아줌

2

## 1.5.4 strip()

In [43]:
# strip을 완전 신뢰하기는 어려움
s = '     weniv CEO licat     '
s.strip() # 양쪽 공백제거

'weniv CEO licat'

In [44]:
'    ,!! weniv CEO licat '.strip(' , !#@~')
# 양쪽의 공백과 중간에 이상한 문자를 제거하는 용도로 쓰임

'weniv CEO licat'

## 1.5.5 replace()

In [45]:
s = 'weniv CEO licat'
s.replace('CEO', 'CTO') # 원하는 문자열을 다른 문자열로 대체

'weniv CTO licat'

In [48]:
s = 'weniv CEO licat'
s.replace('i', 'I') # 문자열 내에서 모든 i를 I로 대체

'weniv CEO licat'

In [49]:
# 원본은 유지되고 새로운 변수를 써야 새 변수에 수정된 내용이 반영된다.
s = 'weniv CEO licat'
ss = s.replace('i', 'I')
ss, s # 출력: ('weniv CEO licat', 'wenIv CEO lIcat')

('wenIv CEO lIcat', 'weniv CEO licat')

## 1.5.6 split(), join()

In [ ]:
# 전화번호 입력 : 010 0001 1000
# split으로 숫자로 분리 : 공백을 구분자 이용 -> 010, 0001, 1000
# join으로 전화번호 형식 완성 : -을 구분자로 이용 -> 010-0001-1000

In [ ]:
# 1. split 활용

In [52]:
s = 'weniv-CEO-licat'
s.split('-') # 구분자 -을 기준으로 문자열을 리스트의 원소로 나눔

['weniv', 'CEO', 'licat']

In [ ]:
# 2. join

In [53]:
s = ['weniv', 'CEO', 'licat']
'-'.join(s) # 구분자 -을 기준으로 리스트의 원소를 하나의 문자열로 합침

'weniv-CEO-licat'

In [ ]:
# split과 join을 왔다갔다 할 수 있음.
# split : <문자열> -> <리스트>
# join : <리스트> -> <문자열>

## 1.5.7 format()

In [54]:
name = 'licat'
age = 29

print('제 이름은 {}이고, 나이는 {}살입니다.'.format(name, age))

제 이름은 licat이고, 나이는 29살입니다.

In [55]:
# python 3.6 + 부터는 f-string 활용 가능
print(f'제 이름은 {name}이고, 나이는 {age}살입니다')

제 이름은 licat이고 나이는 29살입니다

## 1.5.8 isalnum( ) / isdigit( ) / isalpha( ) / isascii( )

In [ ]:
# isdigit()
# 숫자만 있는지?
# 활용 : 숫자만 필요한 경우
s = '123'
s.isdigit()

In [56]:
# isalpha()
# 알파벳만 있는지?
# 활용 : 알파벳만 필요한 경우
print('abcd1234'.isalpha())
print('안녕하세요'.isalpha())
print('こんにちは'.isalpha())
print('你好'.isalpha())

False
True
True
True

## 1.5.9 rjust( ) / ljust( ) / center( )

In [58]:
# 1. rjust()
# 기본옵션: .rjust(만들 문자열의 전체 길이지정, 주어진 문자열의 비어있는 왼쪽을 채울 구분자)
s = 'licat'
s.rjust(10, '-')

'-----licat'

In [59]:
# 2. ljust()
# 기본옵션: .ljust(만들 문자열의 전체 길이지정, 주어진 문자열의 비어있는 오른쪽을 채울 구분자)
s = 'licat'
s.ljust(10, '-')

'licat-----'

In [61]:
# 활용 : 주민등록번호
s = '123456-1'
s.ljust(14, '*')

'123456-1******'

In [62]:
# 3. center()
# 활용 : 입력한 문자열이 부족할 때, 양쪽에 뭔가를 넣어줌
s = 'licat'
s.center(12, '-')

'---licat---'

In [63]:
s = 'licat'
s.center(13, '-')

'----licat----'

In [64]:
s = 'licat'
s.center(14, '-')

'----licat-----'

## 1.5.10 zfill()

In [ ]:
# 활용 : 일련번호
# 주어진 문자열에 얼마나 많은 0(zero)을 채워넣는지(fill) 결정

In [66]:
# 문자열 숫자
x = "42" # 문자 주어줌
result = x.zfill(5) # 주어진 문자에 채워질 0의 갯수 지정
print(result) # 00000에 42가 삽입된 결과 출력

00042

In [67]:
x = "42"
result = x.zfill(10)
print(result)

0000000042

In [69]:
# 문자열에서 부호가 있는 숫자
y = "-42"
result = y.zfill(5)
print(result)  \

-0042

In [70]:
# 문자열
z = "abc"
result = z.zfill(5)
print(result)

00abc

In [ ]:
1.5.11

In [ ]:
# 활용 1 : 특정 문자 치환

In [71]:
table = str.maketrans("abc", "123")

In [72]:
text = "abcde a b c abc"
result = text.translate(table)
print(result)

123de 1 2 3 123

In [ ]:
# 활용 2 : 특정 문자 제거

In [73]:
# 'd' 와 'e' 제거하기
table = str.maketrans('', '', 'de')
text = "abcde"
result = text.translate(table)
print(result) # abc

abc

In [ ]:
# 개행문자(escape문자 중 하나) 제거

In [74]:
table = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함
'weniv \n\n\n CEO \t\t\t licat'.translate(table)

'weniv     CEO     licat'

In [76]:
j = '''안녕하세요.
신찬수입니다.
파이썬, 장고 좋아요
잘 부탁드립니다.
'''

In [77]:
j.translate(table)

'안녕하세요. 신찬수입니다.  파이썬, 장고 좋아요 잘 부탁드립니다. '

# 1.6 이스케이프

In [82]:
print("Hello\nWorld!")
print("Hello\tWorld!")
print("She said, \"Hello World!\"")
print('She said, \'Hello World!\'')
print("Backslash: \\")

Hello
World!
Hello	World!
She said, "Hello World!"
She said, 'Hello World!'
Backslash: \

In [87]:
" Python Programming".strip().upper()

'PYTHON PROGRAMMING'

# 2. Bool

In [1]:
x = True
y = False
z = 10 < 3
print(x, y, z)

True False False

In [2]:
print(True == 1)
print(False == 0)

True
True

In [ ]:
# 활용 : 데이터가 몇 개 일치하는가?

In [ ]:
print(True + True)
print(False - False)
print(True / True)
print(True * False)

In [4]:
# print(True / False) # 에러 발생
# : division by zero - False가 0. -> 0으로는 나눌 수 없다!

ZeroDivisionError: ignored

# 3. None 자료형

In [5]:
양말상자 = None

In [6]:
print(양말상자)

None

In [7]:
dir(None) # 그럼 쓸 수 있는 메서드는?

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
# 메서드 체이닝

In [8]:
'010-1000-2000'.split('-').replace('0', 'x')

AttributeError: ignored

In [ ]:
# -> 앞의 결과가 다음의 메서드를 지원 안 하면 오류 난다.
# '010-1000-2000'.split('-') => 리스트
# 리스트 => replatce 지원 x

In [9]:
 a = '010-1000-2000'.split('-')
 print(a)

['010', '1000', '2000']

In [10]:
a.replace('O', 'x')

AttributeError: ignored

#4. 형변환

# 4.1 형변환 기본 예제

In [11]:
월급 = input("월급을 입력하세요:")
연봉 = 월급 * 12
print(연봉)

월급을 입력하세요:1000000000
100000000010000000001000000000100000000010000000001000000000100000000010000000001000000000100000000010000000001000000000

In [ ]:
# ? -> input은 str로 입력을 받음.

In [ ]:
# 제대로 수행
# int로 형변환 하자~

In [ ]:
월급 = int(input("월급을 입력하세요:"))
연봉 = 월급 * 12
print(연봉)

In [ ]:
월급 = input("월급을 입력하세요:")
연봉 = int(월급) * 12
print(연봉)

In [ ]:
# 팁:
# 위처럼 숫자형태의 문자열은 정수형으로 형변환 가능
# 하지만 문자형태의 문자열을 정수형으로 형변환 불가

# 4.2 소수형 -> 정수형

In [12]:
f = 3.14159
number = int(f)
print(number)

3

# 4.3 불린 -> 정수형

In [13]:
true_int = int(True)
false_int = int(False)

print(true_int)
print(false_int)

1
0

# 4.4 none은 int형으로 형변환 불가

In [14]:
none_int = int(None)

TypeError: ignored

# 4.5 Str 형변환

## 4.5.1 int와 float → str

In [15]:
n = 123
print(type(n))

m = 123.4
print(type(m))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
# float 형은 int로 변환했다가 str로 변환했을 때 오류
# - 이유: . 때문

## 4.5.2 bool 형변환

In [16]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [ ]:
# 빈 자료는 False, 공백의 경우 자료로 인식돼서 True

## 4.5.3 float 형 변환

In [17]:
# 일반 float 형변환
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
3.14

In [18]:
# 특수 float 형변환
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan') # None, NA 각자 약간씩 다르다

# 4.6 list 형변환

## 4.5.1 str->list

In [19]:
# 시퀀스 자료형 -> 리스트
s = '10'
print(list(s))

name = 'licat'
print(list(name))

['1', '0']
['l', 'i', 'c', 'a', 't']

In [20]:
n = 10
print(list(n)) # 출력: error

TypeError: ignored

In [21]:
name = 'licat'
tuple(name)

('l', 'i', 'c', 'a', 't')

In [22]:
data = [('name','licat'),('age',10)]
d = dict(data)
d

{'name': 'licat', 'age': 10}

In [23]:
s = 'weniv CEO licat'
print(set(s)) #중복을 허락하지 않고 순서가 없습니다. -> 순서 정리하는 문법과 같이 사용하는 게 좋음.
print(len(set(s))) #중복을 제거한 상태로의 길이를 알려줍니다.
print(len(s))

{'n', 'O', 'w', 'e', 'C', 'l', 'E', 'a', 'v', 'i', 'c', 't', ' '}
13
15

In [24]:
# map

list(map(int, ['10', '20', '30']))

[10, 20, 30]

In [25]:
list(map(int, '12345'))

[1, 2, 3, 4, 5]

In [ ]:
# map을 이용하면 대용량의 데이터 처리도 가능