#1. 산술연산

In [ ]:
# 1.1 나누기

In [1]:
a = 10
b = 3
divide = a / b
print(f'{a} + {b} = {divide:.2f}') # .2f -> 소수점 둘쨰자리까지

10 + 3 = 3.33

In [2]:
print(divide)

3.3333333333333335

In [3]:
# 1.2 나머지
print(10 / 3) # 소수 몫
print(10 // 3) # 정수 몫
print(10 % 3) # 나머지

3.3333333333333335
3
1

In [2]:
print(-2 ** 2) # 2 ** 2 후 -가 붙음

-4

In [3]:
# 해결방법
print((-2) ** 2)

4

In [4]:
# 비교연산자
print(5 != 3) # 5는 3과 일치하지 않다 -> True

True

In [5]:
# 연속적인 비교
x = 10
print(5 < x < 15)

True

In [6]:
import math

result = 0.1 + 0.2
print(result)

0.30000000000000004

In [7]:
print(result == 0.3)

False

In [8]:
print(math.isclose(result, 0.3)) # 수학적으로 접근했을 때 일치하냐?

True

In [10]:
print(math.isclose(result , 0.29))
print(math.isclose(result , 0.31))
print(math.isclose(result , 0.300000001))

False
False
False